In [1]:
"""
Verificar se o trade está aberto no MT5, conferir se todos os trades no mt5 estão no sql, caso não esteja, apagar do sql
"""

#SCREENING AÇÕES 2
import pandas as pd
import numpy as np
from datetime import datetime
import MetaTrader5 as mt5
from datetime import datetime
import chardet
import mysql.connector
import re
from sqlalchemy import create_engine
import time

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# VERIFICAR DISPONIBILIDADE DOS ATIVOS
def verificar_disponibilidade_ativos(symbol1):
    symbol1_info = mt5.symbol_info(symbol1)
    if symbol1_info is None:
        print(symbol1, 'Ativo 1 não encontrado')
    elif not symbol1_info.visible:
        print(symbol1, 'Ativo 1 não visível')
        if not mt5.symbol_select(symbol1, True):
            print(f'Symbol_select({symbol1}) falhou, tentando novamente...')
            time.sleep(2)  # Espera um pouco antes de tentar novamente
    # Se ambos os ativos estão visíveis, sai do loop
    if symbol1_info and symbol1_info.visible:
        #print('Ativo visíveL')
        return symbol1    
    return symbol1

# DEFINIÇÃO DE PARAMETROS DOS ATIVOS
def ativos_parametros(symbol1):
    # PREÇOS
    lot1 = 100
    symbol1_ask = mt5.symbol_info_tick(symbol1).ask
    symbol1_bid = mt5.symbol_info_tick(symbol1).bid
    symbol1_last = mt5.symbol_info_tick(symbol1).last
    return symbol1_ask, symbol1_bid, symbol1_last, lot1

# COLETAR TRADES ABERTOS
def get_trades():
    trades = mt5.positions_get(symbol=symbol1)
    if trades is None:
        print("Nenhum trade: {}".format(mt5.last_error()))
        return None
    trade_data = []
    for trade in trades:
        trade_dict = {
            'ticket': trade.ticket,'time': trade.time,'type': trade.type,'volume': trade.volume,
            'price_open': trade.price_open,'sl': trade.sl,'tp': trade.tp,'price_current': trade.price_current,
            'swap': trade.swap,'profit': trade.profit,'symbol': trade.symbol,'comment': trade.comment,'external_id': trade.external_id}
        trade_data.append(trade_dict)
    trades_mt5 = pd.DataFrame(trade_data)
    return trades_mt5
    
# O ENCERRAMENTO DAS OPERAÇÕES DEVE SER FEITO ENTRE AS 17:50 E 17:53
def passou_das_17_50():
    agora = datetime.now()
    hora_limite_inferior = agora.replace(hour=17, minute=50, second=0, microsecond=0)
    hora_limite_superior = agora.replace(hour=17, minute=53, second=59, microsecond=999999)
    return hora_limite_inferior <= agora <= hora_limite_superior

# Estabelecendo a conexão com o banco de dados
conexao = mysql.connector.connect(host='databasecodigo.mysql.dbaas.com.br',database='databasecodigo',
                              user='databasecodigo',password='CasaCasa123!')

# Verificando se a conexão foi bem-sucedida
if conexao.is_connected():
    cursor = conexao.cursor()
    """ QUERY TRADES ABERTOS """
    # Query solicitando os Trades_Abertos
    select_query = """
        SELECT Data, Trade, Ativo1, PriceEnt1, PriceExt1, Qnt1, Ativo2, PriceEnt2, PriceExt2, Qnt2, DesvPad, ADF, HF, CapReq, Profit
        FROM Trades_Abertos
    """
    cursor.execute(select_query)
    # Obtendo todos os resultados
    resultados = cursor.fetchall()
    # Obtendo os nomes das colunas
    colunas = [desc[0] for desc in cursor.description]
    # Criando um DataFrame com os resultados e os nomes das colunas
    trades_abertos = pd.DataFrame(resultados, columns=colunas)

    # Inicializar MetaTrader 5
    if not mt5.initialize():
        print('Initialize() failed, error code = ', mt5.last_error())
        quit()

    # Seleciona as colunas 'Ativo1' e 'Ativo2' e converte para listas
    lista_ativos = trades_abertos[['Ativo1', 'Ativo2']].values.tolist()
    lista_ativos = [item for sublist in lista_ativos for item in sublist]
    lista_ativos = [item for item in lista_ativos if item != 'NAN']
    
    # Retirar o .SA dos tickers e colocar em maiúsculo
    lista_ativos = [valor for valor in lista_ativos if '-' not in valor]
    lista_ativos = [ativo.upper() for ativo in lista_ativos]
    lista_ativos = [ativo.replace('.SA', '') for ativo in lista_ativos]

    # Atualizar preço de entrada dos ativos
    print('Atualizando preço de entrada dos ativos...')
    for i in lista_ativos:
        symbol1 = i
        symbol1 = verificar_disponibilidade_ativos(symbol1)
        symbol1_ask, symbol1_bid, symbol1_last, lot1 = ativos_parametros(symbol1)
        select_query = """
            SELECT Data, Trade, Ativo1, PriceEnt1, PriceExt1, Qnt1, Ativo2, PriceEnt2, PriceExt2, Qnt2, DesvPad, ADF, HF, CapReq, Profit
            FROM Trades_Abertos
        """
        cursor.execute(select_query)
        resultados = cursor.fetchall()
        colunas = [desc[0] for desc in cursor.description]
        trades_abertos = pd.DataFrame(resultados, columns=colunas)
        trades_mt5 = get_trades()
        trades_mt5 = pd.DataFrame(trades_mt5)
        # Buscar o valor correspondente de 'price_open' para a linha onde 'symbol' == i
        price_open_value = trades_mt5.loc[trades_mt5['symbol'] == i, 'price_open'].values[0]
        trades_abertos['Ativo1'] = trades_abertos['Ativo1'].str.strip().str.upper()
        trades_abertos['Ativo2'] = trades_abertos['Ativo2'].str.strip().str.upper()
        i = i.strip().upper()
        
        # Agora, vamos atribuir esse valor encontrado à coluna 'PriceEnt1' nas linhas onde 'Ativo1' == i
        for index, row in trades_abertos.iterrows():
            ativo1 = row['Ativo1'].strip().upper()  # ou use upper() se preferir maiúsculas
            ativo2 = row['Ativo2'].strip().upper()  # ou use upper() se preferir maiúsculas
            i = i.strip().upper()  # Convertendo 'i' também
            # Verificar se 'Ativo1' é igual ao valor de 'i'
            if ativo1 == i:
                # Se encontrar, adicionar o valor de 'price_open_value' na coluna 'PriceEnt2' da mesma linha
                trades_abertos.at[index, 'PriceEnt1'] = round(price_open_value, 2)
                # Apagar trades abertos no database para salvar lista atualizada
                tabela = "Trades_Abertos"
                sql = f"DELETE FROM {tabela}"
                cursor.execute(sql)
                conexao.commit()
                # Enviar o DataFrame atualizado para a tabela
                engine = create_engine('mysql+mysqlconnector://databasecodigo:CasaCasa123!@databasecodigo.mysql.dbaas.com.br/databasecodigo')
                trades_abertos.to_sql('Trades_Abertos', con=engine, index=False, if_exists='replace')
            elif ativo2 == i:
                # Se encontrar, adicionar o valor de 'price_open_value' na coluna 'PriceEnt2' da mesma linha
                trades_abertos.at[index, 'PriceEnt2'] = round(price_open_value,2)
                # Apagar trades abertos no database para salvar lista atualizada
                tabela = "Trades_Abertos"
                sql = f"DELETE FROM {tabela}"
                cursor.execute(sql)
                conexao.commit()
                # Enviar o DataFrame atualizado para a tabela
                engine = create_engine('mysql+mysqlconnector://databasecodigo:CasaCasa123!@databasecodigo.mysql.dbaas.com.br/databasecodigo')
                trades_abertos.to_sql('Trades_Abertos', con=engine, index=False, if_exists='replace')
    
    # Converter colunas para numéricos uma vez
    cols_to_convert = ['PriceExt1', 'PriceEnt1', 'Qnt1', 'PriceExt2', 'PriceEnt2', 'Qnt2']
    trades_abertos[cols_to_convert] = trades_abertos[cols_to_convert].apply(pd.to_numeric, errors='coerce')
    #trades['HF'] = 0
    trades_abertos['Ativo1'] = trades_abertos['Ativo1'].str.replace('.SA', '', case=False)
    trades_abertos['Ativo2'] = trades_abertos['Ativo2'].str.replace('.SA', '', case=False)

while True:
    # Atualizar preço de saída (PriceExt) dos ativos com base na cotacao atual do mercado 
    print('Atualizando preço de saída dos ativos...')
    for indice, linha in trades_abertos.iloc[0:].iterrows():
        ativo1 = linha['Ativo1']
        ativo2 = linha['Ativo2']
        price1 = mt5.symbol_info_tick(ativo1).last
        price2 = mt5.symbol_info_tick(ativo2).last
        trades_abertos.at[indice, 'PriceExt1'] = round(price1,2)
        trades_abertos.at[indice, 'PriceExt2'] = round(price2,2)

        # Calcular PnL
        trade_type = linha['Trade']

        if trade_type == 'Compra':
            pnl_ativo1 = (price1 - linha['PriceEnt1']) * linha['Qnt1']
            pnl_ativo2 = (linha['PriceEnt2'] - price2) * linha['Qnt2']
            pnl_ativo1_stop_antecipado = (price1 - linha['PriceEnt1']) * 100
            trades_abertos.at[indice, 'Profit'] = round(pnl_ativo1 + pnl_ativo2, 2)

        elif trade_type == 'Venda':
            pnl_ativo1 = (linha['PriceEnt1'] - price1) * linha['Qnt1']
            pnl_ativo2 = (price2 - linha['PriceEnt2']) * linha['Qnt2']
            pnl_ativo1_stop_antecipado = (linha['PriceEnt1'] - price1) * 100
            trades_abertos.at[indice, 'Profit'] = round(pnl_ativo1 + pnl_ativo2, 2)
            
    # Apagar trades abertos no database para salvar lista atualizada
    tabela = "Trades_Abertos"
    sql = f"DELETE FROM {tabela}"
    cursor.execute(sql)
    conexao.commit()
    # Enviar o DataFrame atualizado para a tabela
    engine = create_engine('mysql+mysqlconnector://databasecodigo:CasaCasa123!@databasecodigo.mysql.dbaas.com.br/databasecodigo')
    trades_abertos.to_sql('Trades_Abertos', con=engine, index=False, if_exists='replace')
    
    # Processamentos trades de compra para encerramento e stop
    print('Processando encerramento e stop-loss...')
    for indice, linha in trades_abertos.iloc[0:].iterrows():

        ativo1 = linha['Ativo1']
        ativo2 = linha['Ativo2']
        price1 = mt5.symbol_info_tick(ativo1).last
        price2 = mt5.symbol_info_tick(ativo2).last
        trades_abertos.at[indice, 'PriceExt1'] = round(price1,2)
        trades_abertos.at[indice, 'PriceExt2'] = round(price2,2)

        trade_type = linha['Trade']

        if trade_type == 'Compra':
            
            pnl_ativo1 = (price1 - linha['PriceEnt1']) * linha['Qnt1']
            pnl_ativo2 = (linha['PriceEnt2'] - price2) * linha['Qnt2']
            pnl_ativo1_stop_antecipado = (price1 - linha['PriceEnt1']) * 100
            trades_abertos.at[indice, 'Profit'] = round(pnl_ativo1 + pnl_ativo2, 2)
            # Verificar se é hora de encerrar a posição
            data_trade = np.datetime64(linha['Data']).astype('datetime64[D]')
            half_life = int(linha['HF'])
            dias_uteis = np.busday_count(data_trade, np.datetime64('today'))

            # Enviar ordens para zerar posição
            if passou_das_17_50() and dias_uteis == half_life or dias_uteis > half_life or passou_das_17_50() and pnl_ativo1_stop_antecipado <= -100 or pnl_ativo1_stop_antecipado <= -200:

                print('Existem trades para serem zerados hoje.')
                # Zerar Ativo1
                lot1 = linha['Qnt1']
                point = mt5.symbol_info(linha['Ativo1']).point
                price = mt5.symbol_info_tick(linha['Ativo1']).last
                deviation = 5
                request1 = {'action': mt5.TRADE_ACTION_DEAL,
                    'symbol': linha['Ativo1'],'volume': float(lot1),
                    'type': mt5.ORDER_TYPE_SELL,
                    'price': price,
                    'deviation': deviation,'magic': 234000,'comment': 'python script open','type_time': mt5.ORDER_TIME_GTC,'type_filling': mt5.ORDER_FILLING_RETURN,}
                # Zerar Ativo2
                lot2 = linha['Qnt2']
                point = mt5.symbol_info(linha['Ativo2']).point
                price = mt5.symbol_info_tick(linha['Ativo2']).last
                deviation = 5
                request2 = {'action': mt5.TRADE_ACTION_DEAL,
                    'symbol': linha['Ativo2'],'volume': float(lot2),
                    'type': mt5.ORDER_TYPE_BUY,
                    'price': price,
                    'deviation': deviation,'magic': 234000,'comment': 'python script open','type_time': mt5.ORDER_TIME_GTC,'type_filling': mt5.ORDER_FILLING_RETURN,}
                result1 = mt5.order_send(request1)
                if result1.retcode == mt5.TRADE_RETCODE_DONE:
                    print('ZEROU PRIMEIRO ATIVO')
                    print('    ')
                    result2 = mt5.order_send(request2)
                    if result2.retcode == mt5.TRADE_RETCODE_DONE:
                        print('ZEROU SEGUNDO ATIVO')
                        print('    ')
                        # Query solicitando os Trades_Abertos conforme as colunas no MySQL > Data, Trade e Ativo1
                        select_query = """
                        SELECT * FROM Trades_Abertos
                        WHERE Ativo1 = %s AND Ativo2 = %s
                        """
                        cursor.execute(select_query, (linha['Ativo1'],linha['Ativo2']))
                        trades_excluidos = cursor.fetchall()
                        print('Trade para excluir')
                        print('    ')
                        display(trades_excluidos)
                        
                        for trade in trades_excluidos:
                            # Query solicitando os Trades_Encerrados conforme as colunas no MySQL Ativo1 e Ativo2
                            insert_query = """
                            INSERT INTO Trades_Encerrados (Data,Trade,Ativo1,PriceEnt1,PriceExt1,Qnt1,Ativo2,PriceEnt2,PriceExt2,Qnt2,DesvPad,ADF,HF,CapReq,Profit)
                            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) 
                            """
                            cursor.execute(insert_query, trade)
                        
                            # Query para excluir os trades stopados dentre os trades ainda em aberto
                            delete_query = """
                            DELETE FROM Trades_Abertos
                            WHERE Data = %s AND Trade = %s AND Ativo1 = %s AND PriceEnt1 = %s AND PriceExt1 = %s 
                            AND Qnt1 = %s AND Ativo2 = %s AND PriceEnt2 = %s AND PriceExt2 = %s AND Qnt2 = %s 
                            AND DesvPad = %s AND ADF = %s AND HF = %s AND CapReq = %s AND Profit = %s
                            """
                            
                            # Corrigindo: passando trade_excluir para o execute do DELETE
                            cursor.execute(delete_query, trade)
                        
                            # Commit para garantir que as alterações sejam feitas
                            conexao.commit()
                            
        elif trade_type == 'Venda':
            pnl_ativo1 = (linha['PriceEnt1'] - price1) * linha['Qnt1']
            pnl_ativo2 = (price2 - linha['PriceEnt2']) * linha['Qnt2']
            pnl_ativo1_stop_antecipado = (linha['PriceEnt1'] - price1) * 100
            trades_abertos.at[indice, 'Profit'] = round(pnl_ativo1 + pnl_ativo2, 2)
            # Verificar se é hora de encerrar a posição
            data_trade = np.datetime64(linha['Data']).astype('datetime64[D]')
            half_life = int(linha['HF'])
            dias_uteis = np.busday_count(data_trade, np.datetime64('today'))
        
            # Enviar ordens para zerar posição
            if passou_das_17_50() and dias_uteis == half_life or dias_uteis > half_life or passou_das_17_50() and pnl_ativo1_stop_antecipado <= -100 or pnl_ativo1_stop_antecipado <= -200:
                print('Existem trades para serem zerados hoje.')
                lot1 = linha['Qnt1']
                point = mt5.symbol_info(linha['Ativo1']).point
                price = mt5.symbol_info_tick(linha['Ativo1']).last
                deviation = 5
                request1 = {'action': mt5.TRADE_ACTION_DEAL,
                    'symbol': linha['Ativo1'],'volume': float(lot1),
                    'type': mt5.ORDER_TYPE_BUY,
                    'price': price,
                    'deviation': deviation,'magic': 234000,'comment': 'python script open','type_time': mt5.ORDER_TIME_GTC,'type_filling': mt5.ORDER_FILLING_RETURN,}
                
                lot2 = linha['Qnt2']
                point = mt5.symbol_info(linha['Ativo2']).point
                price = mt5.symbol_info_tick(linha['Ativo2']).last
                deviation = 5
                request2 = {'action': mt5.TRADE_ACTION_DEAL,
                    'symbol': linha['Ativo2'],'volume': float(lot2),
                    'type': mt5.ORDER_TYPE_SELL,
                    'price': price,
                    'deviation': deviation,'magic': 234000,'comment': 'python script open','type_time': mt5.ORDER_TIME_GTC,'type_filling': mt5.ORDER_FILLING_RETURN,}
                result1 = mt5.order_send(request1)
                if result1.retcode == mt5.TRADE_RETCODE_DONE:
                    print('ZEROU PRIMEIRO ATIVO')
                    print('    ')
                    result2 = mt5.order_send(request2)
                    if result2.retcode == mt5.TRADE_RETCODE_DONE:
                        print('ZEROU SEGUNDO ATIVO')
                        print('    ')
                        
                        # Query solicitando os Trades_Abertos conforme as colunas no MySQL Ativo 1 e Ativo 2 
                        select_query = """
                        SELECT * FROM Trades_Abertos
                        WHERE Ativo1 = %s AND Ativo2 = %s
                        """
                        cursor.execute(select_query, (linha['Ativo1'],linha['Ativo2']))
                        trades_excluidos = cursor.fetchall()
    
                        print('Trade para excluir')
                        print('    ')
                        display(trades_excluidos)
                    
                        for trade in trades_excluidos:
                            # Query solicitando os Trades_Encerrados conforme as colunas no MySQL > Data, Trade e Ativo1
                            insert_query = """
                            INSERT INTO Trades_Encerrados (Data,Trade,Ativo1,PriceEnt1,PriceExt1,Qnt1,Ativo2,PriceEnt2,PriceExt2,Qnt2,DesvPad,ADF,HF,CapReq,Profit)
                            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s) 
                            """
                            cursor.execute(insert_query, trade)
                        
                            # Query para excluir os trades stopados dentre os trades ainda em aberto
                            delete_query = """
                            DELETE FROM Trades_Abertos
                            WHERE Data = %s AND Trade = %s AND Ativo1 = %s AND PriceEnt1 = %s AND PriceExt1 = %s 
                            AND Qnt1 = %s AND Ativo2 = %s AND PriceEnt2 = %s AND PriceExt2 = %s AND Qnt2 = %s 
                            AND DesvPad = %s AND ADF = %s AND HF = %s AND CapReq = %s AND Profit = %s
                            """
                            
                            # Corrigindo: passando trade_excluir para o execute do DELETE
                            cursor.execute(delete_query, trade)
                        
                            # Commit para garantir que as alterações sejam feitas
                            conexao.commit()
    print('-------------------------------')
    time.sleep(30)

Atualizando preço de entrada dos ativos...

ProgrammingError: (mysql.connector.errors.ProgrammingError) Failed processing pyformat-parameters; Python 'float64' cannot be converted to a MySQL type
[SQL: INSERT INTO `Trades_Abertos` (`Data`, `Trade`, `Ativo1`, `PriceEnt1`, `PriceExt1`, `Qnt1`, `Ativo2`, `PriceEnt2`, `PriceExt2`, `Qnt2`, `DesvPad`, `ADF`, `HF`, `CapReq`, `Profit`) VALUES (%(Data)s, %(Trade)s, %(Ativo1)s, %(PriceEnt1)s, %(PriceExt1)s, %(Qnt1)s, %(Ativo2)s, %(PriceEnt2)s, %(PriceExt2)s, %(Qnt2)s, %(DesvPad)s, %(ADF)s, %(HF)s, %(CapReq)s, %(Profit)s)]
[parameters: [{'Data': '2025-02-04 00:00:00', 'Trade': 'Venda', 'Ativo1': 'SBSP3', 'PriceEnt1': 97.43, 'PriceExt1': 'NaN', 'Qnt1': '400', 'Ativo2': 'CSMG3', 'PriceEnt2': '22.7', 'PriceExt2': 'NaN', 'Qnt2': '200', 'DesvPad': '2.98', 'ADF': '89.61', 'HF': '5', 'CapReq': '-34464', 'Profit': 'NaN'}, {'Data': '2025-02-05 00:00:00', 'Trade': 'Compra', 'Ativo1': 'EGIE3', 'PriceEnt1': '35.78', 'PriceExt1': 'NaN', 'Qnt1': '200', 'Ativo2': 'ENEV3', 'PriceEnt2': '11.8', 'PriceExt2': 'NaN', 'Qnt2': '100', 'DesvPad': '2.8', 'ADF': '89.14', 'HF': '6', 'CapReq': '8336.0', 'Profit': 'NaN'}, {'Data': '2025-02-05 00:00:00', 'Trade': 'Venda', 'Ativo1': 'EMBR3', 'PriceEnt1': '66.17', 'PriceExt1': 'NaN', 'Qnt1': '400', 'Ativo2': 'ALPA4', 'PriceEnt2': '6.24', 'PriceExt2': 'NaN', 'Qnt2': '200', 'DesvPad': '4.92', 'ADF': '86.02', 'HF': '4', 'CapReq': '-25220', 'Profit': 'NaN'}]]
(Background on this error at: https://sqlalche.me/e/20/f405)